@using ShopBanChuot.Models;
@model List<ItemGioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            @Html.Action("Index","Slidebar")
            <!-- Sidebar end=============================================== -->
            @using(Html.BeginForm("DatHang","GioHang"))
            {
              <div class="span9">
                @*<ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active"> SHOPPING CART</li>
                </ul>*@
                <h2>  GIỎ HÀNG [ <small>@Model.Count sản phẩm </small>]<a href=@Url.Action("Index","SanPham") class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Tiếp tục mua sắm </a></h2>
                <hr class="soft">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Tổng</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                         <tr>
                            <td> <img width="60" src="@item.AnhSP" alt=""></td>
                            <td>@item.TenSP</td>
                             <td>@string.Format("{0:n0}", @item.DonGia) VNĐ</td>
                            <td>
                                @item.SoLuong
                                @*@Html.TextBox("txtSoLuong", item.SoLuong.ToString(), new { @style = "width:20px; height: 20px"})*@
                            </td>
                             <td>@string.Format("{0:n0}", @item.ThanhTien) VNĐ</td>
                             <td><a href=@Url.Action("SuaItemGioHang", "GioHang", new { @MaSP = item.MaSP })>Sửa</a></td>
                             <td><a href=@Url.Action("XoaItemGioHang", "GioHang", new { @MaSP = item.MaSP })>Xóa</a></td>
                        </tr>                           
                        }


                        @*<tr>
                            <td colspan="6" style="text-align:right">Total Price:	</td>
                            <td> $228.00</td>
                        </tr>*@

                        <tr>
                            <td colspan="4" style="text-align:right"><strong>Tổng cộng = </strong></td>
                            <td class="label label-important" style="display:block"> <strong>@string.Format("{0:n0}", @ViewBag.TongTien) VNĐ</strong></td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-large pull-right">Đặt hàng<i class="icon-arrow-right"></i></button>
                    @*<a href=@Url.Action("DatHang","GioHang") class="btn btn-large pull-right">Tiếp theo <i class="icon-arrow-right"></i></a>*@
                </div>              
            }

        </div>
    </div>
</div>

