@using ShopBanChuot.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            @Html.Action("Index", "Slidebar")
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active">Products Name</li>
                </ul>
                <h3> @ViewBag.ThongBaoKQTK<small class="pull-right"> </small></h3>
                <hr class="soft" />
                <form class="form-horizontal span6">
                    <div class="control-group">
                        <label class="control-label alignL">Sắp xếp </label>
                        <select>
                            <option>Giá từ thấp tới cao</option>
                            <option>Giá từ cao tới thấp</option>
                            <option>Lượt xem nhiều</option>
                        </select>
                    </div>
                </form>

                @*<div id="myTab" class="pull-right">
                        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                    </div>*@
                <br class="clr" />
                <div class="tab-content">
                    @*<div class="tab-pane" id="listView">
                            @{
                                foreach (var item in Model)
                                {
                                 <div class="row">
                                    <div class="span2">
                                        <img src="@item.Anh1" width="150" height="150" alt="" />
                                    </div>
                                    <div class="span4">
                                        <h5>@item.TenSP </h5>
                                        <a class="btn btn-small pull-right" href="product_details.html">Xem chi tiết</a>
                                        <br class="clr" />
                                    </div>
                                    <div class="span3 alignR">
                                        <form class="form-horizontal qtyFrm">
                                            <h3> Giá: @item.Gia (đ)</h3>
                                            <a href="product_details.html" class="btn btn-large btn-primary"> Thêm vào giỏ hàng<i class=" icon-shopping-cart"></i></a>
                                            <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                                        </form>
                                    </div>
                                </div>
                                <hr class="soft" />
                                }
                            }

                        </div>*@

                    <div class="tab-pane  active" id="blockView">
                        <ul class="thumbnails">
                            @foreach (var item in Model)
                            {
                                <li class="span3">
                                    <div class="thumbnail" style="height: 405px;">
                                        <a href=@Url.Action("ThongTinSanPham", "SanPham", new {@MaSP = item.MaSP })><img src="@item.Anh1" width="150" height="150" alt="không có ảnh " /></a>
                                        <div class="caption" style="height: 130px;">
                                            @{
                                if (item.TenSP.Length > 35)
                                {
                                    <h5>@item.TenSP.Substring(0, 35)... </h5>
                                }
                                else
                                {
                                    <h5>@item.TenSP </h5>
                                }
                                <p class="Gia">Giá cũ:@string.Format("{0:n0}", @item.Gia) VNĐ</p>
                                                <p class="GiamGia">Giảm còn:@string.Format("{0:n0}", @item.GiamGia) VNĐ</p>
                                            }
                                        </div>

                                        <div class="align-center">
                                            <h4 style="text-align:center">
                                                <a class="btn btn-success" style="width:160px;" href=@Url.Action("ThongTinSanPham", "SanPham", new {@MaSP = item.MaSP })>Xem thông tin chi tiết</a>
                                            </h4>
                                            <h4 style="text-align:center">
                                                <a class="btn btn-primary " style="width:160px;" href=@Url.Action("ThemItemGioHang", "GioHang", new { @MaSP = item.MaSP, @strUrl = Request.Url})>Thêm vào giỏ hàng<i class="icon-shopping-cart"></i></a>
                                            </h4>

                                        </div>
                                    </div>

                                </li>
                            }
                        </ul>
                        <hr class="soft" />
                    </div>
                </div>

                @*<a href="compair.html" class="btn btn-large pull-right">Compair Product</a>*@

                <div class="pagination">
                    <p>Trang:</p>
                    <ul>
                        @Html.PagedListPager(Model, page => @Url.Action("KetQuaTimKiem", new { page = page, @TuKhoa = ViewBag.TuKhoa }))
                    </ul>
                </div>
                <br class="clr" />
            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->
