@model ShopBanChuot.Models.SANPHAM

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Tạo mới</h2>

@using (Html.BeginForm("Create", "QLSP", FormMethod.Post, new {@enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thông tin sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP)
                @Html.ValidationMessageFor(model => model.TenSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia)
                @Html.ValidationMessageFor(model => model.Gia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiamGia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiamGia)
                @Html.ValidationMessageFor(model => model.GiamGia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LuotXem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LuotXem)
                @Html.ValidationMessageFor(model => model.LuotXem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anh1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*tên thẻ input file phải trùng với tên tham số bên controller*@
                <input type="file" name="fileUpload1" value="" />@ViewBag.ThongBaoAnh1
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anh2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*tên thẻ input file phải trùng với tên tham số bên controller*@
                <input type="file" name="fileUpload2" value="" /> @ViewBag.ThongBaoAnh2
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anh3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*tên thẻ input file phải trùng với tên tham số bên controller*@
                <input type="file" name="fileUpload3" value="" /> @ViewBag.ThongBaoAnh3
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa4, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa4)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa5, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa5)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong)
                @Html.ValidationMessageFor(model => model.SoLuong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLoaiSP, "MaLoaiSP", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiSP")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaTH, "MaTH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaTH")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaXX, "MaXX", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaXX")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Moi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Moi)
                @Html.ValidationMessageFor(model => model.Moi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

<style type="text/css">
    .form-group {
        margin-bottom: 10px;
    }
</style>