@model IEnumerable<ShopBanChuot.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaCTDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONHANG.MaDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONHANG.TenTaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONHANG.NgayDatHang)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaCTDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONHANG.MaDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONHANG.TenTaiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SANPHAM.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONHANG.NgayDatHang)
        </td>

        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaCTDH }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaCTDH }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaCTDH })
        </td>
    </tr>
}

</table>
