@model ShopBanChuot.Models.DONHANG

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Tạo mới</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DONHANG</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenTaiKhoan, "TenTaiKhoan", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TenTaiKhoan")
                @Html.ValidationMessageFor(model => model.TenTaiKhoan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDatHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDatHang)
                @Html.ValidationMessageFor(model => model.NgayDatHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayGiaoHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGiaoHang)
                @Html.ValidationMessageFor(model => model.NgayGiaoHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrangThai)
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
