@model ShopBanChuot.Models.CHITIETDONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>CHITIETDONHANG</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONHANG.TenTaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONHANG.TenTaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaCTDH }) |
    @Html.ActionLink("Trở về", "Index")
</p>
